.Mercury {
  width: 111px;
}
.Venus {
  width: 154px;
}
.Earth {
  width: 173px;
}
.Mars {
  width: 129px;
}
.Jupiter {
  width: 224px;
}
.Saturn {
  width: 159px;
}
.Uranus {
  width: 176px;
}
.Neptune {
  width: 173px;
}
